<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <h1>Todo app</h1>
  </a>
</nav>

<main role="main" class="container">
  <div class="row">
    <div class="todosContainer">
      <tabs>
        <tab tabTitle="ALL">
          <todos todoCondition='all' class="todosContent"></todos>
        </tab>
        <tab tabTitle="TODO">
          <todos todoCondition="todo" class="todosContent"></todos>
        </tab>
        <tab tabTitle="DONE">
          <todos todoCondition="done" class="todosContent"></todos>
        </tab>
      </tabs>
    </div>
  </div>

</main><!-- /.container -->