.todosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todosContent {
  margin-top: 32px;
  width: 80%;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid #BDBDBD;
}

.checkbox-text-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo__checkbox input {
  display: none;
}

.todo__checkbox {
  margin-right: 1rem ;
  cursor: pointer;
  user-select: none;
}

.todo__checkbox .checkmark {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border: 1px solid gray;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3px;
}

.todo__checkbox input:checked + .checkmark {
  background-color: #007bff;
  border: none;

}

.todo__checkbox:hover .checkmark {
  background-color: #ccc;
}

.todo__checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  height: 7px;
  width: 12px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.todo__text {
  margin-left: 16px;
}

.todo__trash svg {
  color: #dc3545;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.todo__trash svg:hover {
  color: #a61d2a;
}

.navbar-brand h1{
  margin-left: 32px;
}

.cross {
  text-decoration: line-through;
}

tabs {
  width: 100%;
  margin-top: 32px;
}